* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}
.loading  {
  font-size: 25px;
  font-weight: 700;
}
.heading  {
  width: 60%;
  font-size: 36px;
  font-weight: 700;
  height: 100px;
  /* border: 1px solid grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.tours  {
  width: 60%;
  gap: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid grey; */
}
.tour {
  width: 600px;
  border-radius: 5px;
  /* border: 1px solid black; */
  box-shadow: 4px 4px 10px rgb(168, 166, 166);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image  {
  width: 100%;
  height: 260px;
  object-fit: cover;
  /* border: 1px soid red; */
  border-radius: 4px 4px 0 0;
}
.titlePrice {
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  /* background-color: #ff3333; */
}
.price{
  height: 70%;
  color: rgb(64, 64, 255);
  font-size: 16px;
  background-color: #ddffee;
  border-radius: 5px;
  /* display */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
  padding-left: 8px;
}
.details  {
  width: 100%;
  height: 40%;
  padding: 25px;
}
.readMore {
  display: inline;
  font-weight: bold;
  color: #0579ff;
  cursor: pointer;
}
button  {
  width: 40%;
  min-width: 150px;
  height: 30px;
  background-color: #ff4343;
  border: none;
  border-radius: 3px;
  color: #ffcccc;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

